html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
}
/* Change the appearance of the scrollbars */
body::-webkit-scrollbar {
  width: 9px; /* Width of the scrollbar */
  
  
}

/* Track */
body::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the track */
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scroll thumb */
  border-radius: 5px;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scroll thumb on hover */
  
}
* {
  box-sizing: border-box;
}
*:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*:focus {
  outline: none;
}

.Home {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
  
}
.routes-container {
  flex-grow: 1; 
}
a {
  text-decoration: none;
}
.nav {
  background-color: #212420 ;
  color: #EFEFEF;
  padding: 8px 40px;
  animation: fade-in 1s ease-out forwards;
  animation-delay: 0.5s;
}
.nav ul {
  display: flex;
}
.nav li {
  text-align: center;
  padding: 5px;
  width: 150px;
  margin-right: 40px;
  list-style-type: none;
}
.nav a {
  text-decoration: none;
  color: #EFEFEF;
}
.logo{
  background-color: #212420;
  color: white;
  text-align: center;
  padding: 20px;
  margin: 0;
  animation: fade-in 1s ease-out forwards;
  animation-delay: 0.5s;
}

.container{
  width: 1000px;
  margin: 0 auto;
  
}
.header{
  margin-top: 10px;
  padding: 15px;
  background-color: #EFEFEF;
  margin-bottom: 10px;
}
.header h1 {
  text-align: center;
  margin-bottom: 15px;
}
.addform{
  display: flex;
  flex-direction: column;
  animation: fadeIn 2s ease-in-out;
  
}
.addform p {
  margin-bottom: 7px;
}
.addform input[type="text"]{
  border: none;
  height: 20px;
  border-radius: 3px;
  padding: 15px;
  z-index: 1;
  box-sizing: border-box;
}
.addform input{
  margin-bottom: 15px;
}
.addform input[type="file"]{
  width: 220px;
}
.addform input:focus {
  transition: background-color 3s ease;
  background-color: #F5F5F5;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.addform button{
  width: 100px;
  padding: 5px;
  border-radius: 10px;
  border: none;
  background-color: orange;
  color: azure;
  transition: all 0.3s ease;
  cursor: pointer;
}
.confirm-item {
  display: flex;
}

.addform button:active {
  transform: scale(1.05); /* Изменяем размер кнопки при клике */
}
.phone-item{
  position: relative;
  width: 250px;
  height: 380px;
  background-color:white;
  padding: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
  
  
  
}
.phone-item .button_1{
  width: 25px;
  height: 25px;
}
.phone-item .model{
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}
.phone-item .price{
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 15px;
}
.phone-item img {
  object-fit: contain;
}
.btns {
  padding: 8px 8px 8px 39px;
  display: grid;
  grid-template-columns: 40px 40px 40px;
  gap: 15px;
  justify-items: center;
}

.phone-item img{
  display: block;
  margin: 0 auto;
  width: 180px;
  height: 180px;
}
.phone-item button{
  width: 120px;
  height: 30px;
  border-radius: 5px;
  background-color: azure;
  background-color: #212420;
  color: white;
  cursor: pointer;
  margin-left: 50px;
  margin-bottom: 2px;

  
}
.phone-item p {
  color: #212420;
  
}

.phone-item button:active {
  transform: scale(1.05); /* Изменяем размер кнопки при клике */
}
.phones{
  display: flex;
  flex-wrap: wrap; 
  border-top: 2px solid #212420;
  padding-top: 15px;
  justify-content: flex-start;
  border-image: linear-gradient(to right,#f6f8f7, #212420) 1;
  border-image-slice: 1;
  border-bottom: 2px solid #212420;
  flex: 1;
}
.search{
  padding: 10px;
  display: flex;
  margin-bottom: 30px;
}
.search input{
  width: 500px;
  padding: 13px;
  border: none;
  border-bottom: 1px solid #4B4B4C;
}
.search input::placeholder{
  color: #4B4B4C;
}
.search button{
  padding: 13px;
  background-color:#4B4B4C;
  color: white;
  width: 100px;
  cursor: pointer;
  margin-right: 15px;
  border-radius: 5px;
}
.filterItem{
  display: flex;
  position: relative;
}
.filterItem li {
  position: absolute;
  top: 100%;
  left: 0;
}
  
.footer{
  background-color: #212420;
  color: white;
  text-align: center;
  min-height: 70px;
  padding: 20px;
  width: 100%;
  opacity: 0;
  animation: fade-out 1s ease-out forwards;
  animation-delay: 0.5s;
  flex: 0 0 auto;
  
}
.item-filter {
  display: flex;
  cursor: pointer;
  
}
.price-filter {
  text-align: center;
  background-color: #4B4B4C;
  padding: 10px;
  width: 400px;
  color: white;
  height: 50px;
  border-radius: 5px;
  margin-top: 10px;
}
.price-options {
  position: absolute;
  z-index: 1;
  width: 270px;
  display: none;
  list-style-type: none;
  height: 60px;
  padding-left: 0;
  
  
  
}

.price-filter.active .price-options {
  display: block;
  background-color: #4B4B4C;
  border-radius: 5px;
  
}

.price-filter.active .price-options a{
  color: #EFEFEF;
  text-decoration: none;
}
.aboutitem {
  display: flex;
  flex-direction: row;
  padding: 20px;
}
.aboutitem img {
  width: 350px;
  height: auto;
  margin-right: 40px;
}
.aboutitem__main{
  padding: 20px;
}
.aboutitem__main h2{
  font-size: 26px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
  margin-bottom: 30px;
}
.aboutitem__main .add {
  display: flex;
}
.aboutitem__main .add p{
  margin-right: 15px;
  font-weight: 700;
}
.aboutitem__main .add button {
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #FD9410;
  color: white;
  cursor: pointer;
}
.basket {
  width: 100%;
  height: 70px;
  display: flex;
  padding: 5px;
  flex-direction: row;
  justify-content: space-between;
  background-color: #2222;
  margin-bottom: 5px;
  border-radius: 5px;
}
.basket img {
  width: 60px;
  height: 60px;
  object-fit: contain;
}
.basket h2{
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 5px;

}
.basket .btn {
  width: 25px;
  height: 25px;
  margin-top: 14px;
  cursor: pointer;
}
.pagination {
  padding: 0 0 30px 55px;
}
.pagination button{
  cursor: pointer;
  width: 40px;
  height: 40px;
  margin-right: 15px;
  border: none;
  border-radius: 50%;
}
.pagination button:hover {
  animation: color 1s infinite alternate;
}
@keyframes color {
  0% {
    background-color:#222521;
    color: #EFEFEF
  }
  100% {
    background-color: #4B4B4C ;
    color:white;
  }

}
@keyframes fade-out {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}




@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}



